<div class="container">
  <h1>Cronômetro</h1>

  <p class="time">{{ timeLeft | formatTime }}</p>
  <button class="btn btn-blue" [hidden]="!hideStart" (click)="start()">
    Iniciar
  </button>
  <button class="btn btn-lightblue" [hidden]="hideResume" (click)="start()">
    Retomar
  </button>
  <button class="btn btn-lightblue" [hidden]="hidePause" (click)="pause()">
    Pausar
  </button>
  <button class="btn btn-red" [hidden]="hideReset" (click)="reset()">
    Reiniciar
  </button>
  <button class="btn btn-blue" [hidden]="hideLaps" (click)="markLap()">
    Marcar Volta
  </button>
  <div class="titleLaps" [hidden]="titleLaps">Voltas</div>
  <div class="listLaps" [style.display]="displayLaps">
    <div *ngFor="let volta of laps | reverse let i = index" [attr.data-index]="i">
      <p>Volta {{ totalLaps - i }} - {{ volta | formatTime }}</p>
    </div>
  </div>
</div>
