<div class="container">
  <h1>Cronômetro</h1>

  <p class="time">{{ timeLeft | formatTime }}</p>
  <button class="btn btn-blue" (click)="start()">
    Iniciar
  </button>
  <button class="btn btn-lightblue" (click)="pause()">
    Pausar
  </button>
  <button class="btn btn-red" (click)="reset()">
    Reiniciar
  </button>
  <button class="btn btn-blue" (click)="markLap()">
    Marcar Volta
  </button>
  <div class="titleLaps">Voltas</div>
  <div class="listLaps">
    <div *ngFor="let volta of laps; let i = index">
      <p>Volta {{ i + 1 }} - {{ volta | formatTime }}</p>
    </div>
  </div>
</div>
